@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "TildaSans";
  font-style: normal;
  src: url("/fonts/TildaSans-VF.ttf");
}

.font-tenor-sans {
  font-family: "Tenor Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.font-tilda-sans {
  font-family: "TildaSans", serif;
}

#headline-main {
  background-image: url('/images/back-main.svg');
  background-repeat: no-repeat;
}

/* Добавляем стили для анимации бургер-меню */
.burger-line {
  @apply transition-all duration-300 ease-in-out;
}

.menu-open .burger-line:first-child {
  @apply transform translate-y-[6px] rotate-45 w-[22px] bg-primary;
}

.menu-open .burger-line:nth-child(2) {
  @apply opacity-0;
}

.menu-open .burger-line:last-child {
  @apply transform -translate-y-[6px] -rotate-45 w-[22px] bg-primary;
}


@media (max-width: 1640px) {
  #advantages {
    padding-left: 36px;
    padding-right: 36px;
  }
  #advantage-item {
    max-width: 320px;
  }
  #about-desc {
    max-width: 540px;
  }
}

@media (min-width: 1000px) and (max-width: 1540px) {
  #desktop-gallery {
    max-width: 100%;
    padding: 0 95px;
  }
  #blog-section {
    max-width: 100%!important;
    padding-right: 95px;
    padding-left: 95px;
  }
  #about-section {
    max-width: 100%!important;
    padding-right: 95px;
    padding-left: 95px;
  }
}

@media (max-width: 1500px) {
  #desktop-gallery {
    flex-wrap: wrap;
    justify-content: center;
  }
  #desktop-gallery > div:last-child {
    display: none;
  }
}